services:
  mermaid-local:
    image: alpine:3.22.2
    build:
      dockerfile: Dockerfile
    container_name: mermaid-local
    ports:
      - "8080:8000"
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
      - DB_PATH=/app/data/diagrams.db
      - APP_VERSION=${BUILD_TAG}
    volumes:
      - /home/tbrinkhuis/Mermaid-Local:/app/datas